# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

/public/modelos3D/esfera.glb
/public/modelos3D/estatua.glb
/public/modelos3D/este.obj.glb
/public/modelos3D/miguel.glb

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de configuración de entornos específicos
*.env
*.venv
*.idea/
*.vscode/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
